<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APIKey</key>
    <string>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</string>
</dict>
</plist>
