<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>The camera is used to take photos of wine bottles to use AI to identify wines and to add to your cellar.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Access to your photo library is needed to select wine bottle images.</string>
</dict>
</plist>